@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --cor01: #579AF2;
    --cor02: #529AD9;
    --cor03: #0B64D9;
    --cor04: #0B4FD9;
    --cor05: #0D2F73;
    --fonte-lulestore:'Share Tech Mono', monospace;
    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif; 
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: var(--cor01);
    text-align: center;
    padding: 20px 20px 10px 20px;
}
header h1{
    color: white;
    font-family: var(--fonte-lulestore);
    font-size: 3.5em;
}
nav{
    background-color: var(--cor01);
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrão);
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
}
nav a:hover{
    background-color: var(--cor03);
}
main{
    padding-top: 30px;  
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.7em;
    max-width: 1400px;
    margin: auto;
}
@media screen and (max-width: 600px) {
    main{
        display: flex;
        flex-direction: column;
    }
}
main .menulateral{
    height: 1000px;
    float: left;
}
main .produtos{
    text-align: center;
    margin-bottom: 30px;
    float: right;
}
main .botaocomprar{
    background-color: green;
    font-family: var(--fonte-padrão);
    font-weight: bold;
    color: white;
    width: 100px;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
    margin: auto;
}
main .botaocomprar:hover{
    background-color: rgb(1, 97, 1);
}